
django>=6.0

# Google Generative AI (Gemini SDK)
google-generativeai>=0.8.5

# Environment variables management (Best practice for API keys)
python-dotenv>=1.2.1

pillow>=12.0.0
psycopg2-binary
dj-database-url